<!--The content below is only a placeholder and can be replaced.-->
<h1 [ngStyle]="{color : status1 ? 'yellow' : 'red'}">{{ myName }}</h1>
<br>
<h1 [ngClass]="{isActive: status1}">{{lastName}}</h1>

<!-- <label form="status">Activee</label>
<input id="status" type="radio" [checked]="status"> -->

<!-- <button (click)="greetPeople()">Click Me</button> -->

<!-- <ul>
  <li *ngFor="let mainMenuItem of mainMenuItems">{{mainMenuItem.title}}</li>
</ul> -->

<!-- <h1 *ngIf="status">{{ myName }}</h1>
<ng-template #notActive>
    <p>Not Active</p>
</ng-template> -->
<!-- <input type="text">
<br>
{{ firstName }} -->



